<%= provide(:title, "User") %>
<div class="column is-10 is offset-1">
<div class="columns">
	<div class="column is-4">
<%= @user.name %>, <%= @user.email %>
</div>
</div>
<div class = "columns">
	<aside class = "column is-4">
		<section class = "user_info">
			<h1>
				<%= gravatar_for @user %>
				<br>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>
</div>